<div class='container'>
<p>STUPID COACH</p>
  <div class='person'>
   <p> Person says:

      <%= @input %>
   </p>
  </div>
  <div class='coach'>
    <p>Coach Says:
    <%= @coach %>
    </p>
  </div>

  <%= link_to 'Ask some more', ask_path %>
</div>
